@model IEnumerable<Ia_ComandaRestaurante.Models.ViewModels.Cozinha>

@{
    ViewData["Title"] = "Index";

    int i = 0;}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayFor(model => model.ElementAt(0).IdPedido)
            </td>
            <th>
                Mesa
            </th>
            <td>
                @Html.DisplayFor(model => model.ElementAt(0).IdMenu)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListAll().ElementAt(i).MesaDoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListAll().ElementAt(i).ItensDoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Delete</a>
            </td>
        </tr>
    i++;
}
    </tbody>
</table>
