@model IEnumerable<Ia_ComandaRestaurante.Models.ViewModels.Cozinha>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos para a cozinha</h1>


<table class="table">
    <thead class="table table-success ">
        <tr class="table table-success">
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido.MesaDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMenu)
            </th>
            <th>
                Item
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPedido)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Pedido.MesaDoPedido)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdCozinha">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCozinha">Concluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
