@model Ia_ComandaRestaurante.Models.ViewModels.Pedido

@{
    ViewData["Title"] = "Detalhes";
    int i = 0;
    
}

<h1>Detalhes</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row card-body">
        <dt class = "mcol-sm-2">
            Prazo do Pedido:
        </dt>
        <dd class="mcol-sm-10">
            @Html.DisplayFor(model => model.PrazoDoPedido)  minutos
        </dd>
        <dt class="mcol-sm-2">
            Numero da Mesa:
        </dt>
        <dd class = "mcol-sm-10">
            @Html.DisplayFor(model => model.MesaDoPedido)
        </dd>
        <dt class="mcol-sm-2">
            Funcionario Responsavel:
        </dt>
        <dd class = "mcol-sm-10">
            @Html.DisplayFor(model => model.NomeDoFuncionario)
        </dd>
        <dt class="mcol-sm-2">
            Preço do Pedido:
        </dt>
        <dd class="mcol-sm-10">
            R$ @Html.DisplayFor(model => model.PrecoDoPedido)
        </dd>
        
        <dt class="mcol-sm-2">
            Item do Pedido:
        </dt>
           
        <dd class = "mcol-sm-10">
            @Html.DisplayFor(model => model.Menu)
        </dd>
        <dt class="mcol-sm-2">
            Estado:
        </dt>
        <dd class = "mcol-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPedido">Editar</a> |
    <a asp-action="Index">Voltar aos pedidos</a>
</div>
