@model IEnumerable<Ia_ComandaRestaurante.Models.ViewModels.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create">Anotar novo Pedido</a>;
</p>
<table class="table">
    <thead class="table table-success ">
        <tr class="table table-success" >
            <th>
                @Html.DisplayNameFor(model => model.PrazoDoPedido)
            </th>
            <th class="alert-light">
                Id da Mesa
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PrecoDoPedido)
            </th>
            <td>
                Id do Menu
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </trtable>
    </theadclass="table>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoDoPedido)
            </td>
            <td class="alert-light">
                @Html.DisplayFor(modelItem => item.IdMesa)
            </td>

            <td>
                R$@Html.DisplayFor(modelItem => item.PrecoDoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPedido">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPedido">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
