@model IEnumerable<Ia_ComandaRestaurante.Models.ViewModels.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    int i = 0;
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create">Anotar novo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrazoDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesaDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetFuncionarioResponsavel())
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItensDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoDoPedido) Minutos
            </td>
            <td>
               Mesa @Html.DisplayFor(modelItem => item.MesaDoPedido.NumeroDaMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetFuncionarioResponsavel())
            </td>
            <td>
               R$ @Html.DisplayFor(modelItem => item.PrecoDoPedido) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItensDoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPedido">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPedido">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Deletar</a>
            </td>
        </tr>
    i++;
}
    </tbody>
</table>
