@model IEnumerable<Ia_ComandaRestaurante.Models.ViewModels.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Exibição de Funcionarios</h1>

<p>
    <a asp-action="Create">Adicionar funcionario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaDeAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaDeAcesso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFuncionario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdFuncionario">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFuncionario">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
